# CentOS-Base.repo
#
# The mirror system uses the connecting IP address of the client and the
# update status of each mirror to pick mirrors that are updated to and
# geographically close to the client.  You should use this for CentOS updates
# unless you are manually picking other mirrors.
#
# If the mirrorlist= does not work for you, as a fall back you can try the 
# remarked out baseurl= line instead.
#
#

[base]
name=CentOS-$releasever - Base
{% if yum_mirrors_base is defined %}
baseurl={{ yum_mirrors_base }}/$releasever/os/$basearch/
{% else %}
mirrorlist=http://mirrorlist.centos.org/?release=$releasever&arch=$basearch&repo=os&infra=$infra
#baseurl=http://mirror.centos.org/centos/$releasever/os/$basearch/
{% endif %}
gpgcheck=1
gpgkey=file:///etc/pki/rpm-gpg/RPM-GPG-KEY-CentOS-{{ ansible_distribution_major_version }}

#released updates 
[updates]
name=CentOS-$releasever - Updates
{% if yum_mirrors_base is defined %}
baseurl={{ yum_mirrors_base }}/$releasever/updates/$basearch/
{% else %}
mirrorlist=http://mirrorlist.centos.org/?release=$releasever&arch=$basearch&repo=updates&infra=$infra
#baseurl=http://mirror.centos.org/centos/$releasever/updates/$basearch/
{% endif %}
gpgcheck=1
gpgkey=file:///etc/pki/rpm-gpg/RPM-GPG-KEY-CentOS-{{ ansible_distribution_major_version }}

#additional packages that may be useful
[extras]
name=CentOS-$releasever - Extras
{% if yum_mirrors_base is defined %}
baseurl={{ yum_mirrors_base }}/$releasever/extras/$basearch/
{% else %}
mirrorlist=http://mirrorlist.centos.org/?release=$releasever&arch=$basearch&repo=extras&infra=$infra
#baseurl=http://mirror.centos.org/centos/$releasever/extras/$basearch/
{% endif %}
gpgcheck=1
gpgkey=file:///etc/pki/rpm-gpg/RPM-GPG-KEY-CentOS-{{ ansible_distribution_major_version }}

#additional packages that extend functionality of existing packages
[centosplus]
name=CentOS-$releasever - Plus
{% if yum_mirrors_base is defined %}
baseurl={{ yum_mirrors_base }}/$releasever/centosplus/$basearch/
{% else %}
mirrorlist=http://mirrorlist.centos.org/?release=$releasever&arch=$basearch&repo=centosplus&infra=$infra
#baseurl=http://mirror.centos.org/centos/$releasever/centosplus/$basearch/
{% endif %}
gpgcheck=1
enabled=0
gpgkey=file:///etc/pki/rpm-gpg/RPM-GPG-KEY-CentOS-{{ ansible_distribution_major_version }}

